<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar Livro Cadastrado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <!-- header -->
    <header th:replace="~{navbar :: navbar}"></header>
    <!-- fim header -->

    <!-- main -->
    <main class="bg-light py-4">
        <div class="container">
            <h1 class="mt-5">Editar</h1>
            <hr />
            <form method="post" class="mt-5">
                <div class="row">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Titulo:</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" th:value="${livro.titulo}" required>
                    </div>
                    <div class="mb-3">
                        <label for="autor" class="form-label">Autor:</label>
                        <input type="text" class="form-control" id="autor" name="autor" th:value="${livro.autor}" required>
                    </div>
                    <div class="mb-3">
                        <label for="genero" class="form-label">Gênero:</label>
                        <input type="text" class="form-control" id="genero" name="genero" th:value="${livro.genero}" required>
                    </div>
                    <div class="mb-3">
                        <label for="anopublicacao" class="form-label">Ano de Publicação:</label>
                        <input type="number" class="form-control" id="anopublicacao" name="anopublicacao" th:value="${livro.anopublicacao}" required>
                    </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="lido" id="lido" th:value="${livro.lido}">
                        <label class="form-check-label" for="lido">
                            Lido
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="lido" id="naolido" th:value="${livro.naolido}" checked>
                        <label class="form-check-label" for="naolido">
                            Não Lido
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="nota" class="form-label">Nota:</label>
                        <input type="number" class="form-control" id="nota" name="nota" th:value="${livro.nota}" required>
                    </div>

                    <div class="mb-3">
                        <label for="datacadastro" class="form-label">Data do Cadastro:</label>
                        <input type="date" class="form-control" id="datacadastro" name="datacadastro" th:value="${livro.datacadastro != null ? #temporals.format(livro.datacadastro, 'yyyy-MM-dd') : ''}" required>
                    </div>                    
                    <div class="mb-3 mt-5">
                        <button type="submit" class="btn btn-outline-secondary">Editar</button>
                    </div>
                </div>

            </form>
        </div>
    </main>
    <!-- fim da main -->

    <!-- footer -->
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center"> <a href="/"
                    class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap"> <svg
                        class="bi" width="30" height="24" aria-hidden="true">
                        <use xlink:href="#bootstrap"></use>
                    </svg> </a> <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Company, Inc</span> </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="#" aria-label="Instagram"><svg class="bi"
                            width="24" height="24" aria-hidden="true">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#" aria-label="Facebook"><svg class="bi"
                            width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg></a></li>
            </ul>
        </footer>
    </div>
    <!-- fim footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>